

.blog_content {
    display: flex;
    flex-direction: row;
    gap: 20px;
}


.blog__form-content {

    flex-basis: 30%;

}

.blog__news-content {
    display: flex;
    flex-direction: column;
    flex-basis: 70%;
    row-gap: 20px;
    border-left: 1px solid black;
    padding-left: 10px;
    
}

input,
button {
    display: block;
    width: 80%;
    padding: 0;
    
}

.form__section {
    margin: 10px 0;
}

.button {
    margin-bottom: 20px;
}

.eliminar {
    display: flex;
    flex-direction: column;
}

.etiqueta {
    margin-bottom: 10px;
}

.tagAll {
    font-weight: bold;
}




@media (max-width: 768px)  {
    
    .blogContent {
        flex-direction: column
    };
}