
.blog_content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.blog__form-content {
    flex-basis: 30%;
}

.blog__news-content {
    flex-basis: 70%;
}

.news-content {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    border-left: 1px solid rgb(139, 141, 142);
    padding-left: 10px; 
}

input,
button {
    display: block;
    width: 80%;
    padding: 0;
}

.form__section {
    margin: 10px 0;
}

.button {
    margin-bottom: 20px;
}

.eliminar {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.news__tag-content {
    margin-bottom: 10px;
}

.tagAll {
    font-weight: bold;
}




@media (min-width: 768px)  {
    
    .blog_content {
        flex-direction: row
    };
}