<div class="blogContent">
  <div class="form">
    <h2>Formulario para la introducción de noticias</h2>
    <div class="form__section">
      <label for="title">Título de la noticia</label>
      <input id="title" type="title" placeholder="Introduce un título" />
    </div>

    <div class="form__section">
      <label for="img">Imagen de la noticia</label>
      <input id="img" type="img" placeholder="Introduce una url" />
    </div>

    <div class="form__section">
      <label for="text">Texto de la noticia</label>
      <input id="text" type="text" placeholder="Introduce un texto" />
    </div>

    <div class="form__section">
      <label for="date">Fecha de la noticia</label>
      <input id="date" type="date" placeholder="Introduce una Fecha" />
    </div>

    <button class="button">Guardar</button>
  </div>
  <div class="news">news</div>
</div>
