<div class="blog_content">
  <div class="blog__form-content">
    <h2>Formulario para la introducción de noticias</h2>
    <div class="form__section">
      <label for="title">Título de la noticia</label>
      <input
        id="title"
        type="title"
        placeholder="Introduce un título"
        [(ngModel)]="newNew.title"
      />
    </div>

    <div class="form__section">
      <label for="img">Imagen de la noticia</label>
      <input
        id="img"
        type="img"
        placeholder="Introduce una url"
        [(ngModel)]="newNew.img"
      />
    </div>

    <div class="form__section">
      <label for="text">Texto de la noticia</label>
      <input
        id="text"
        type="text"
        placeholder="Introduce un texto"
        [(ngModel)]="newNew.text"
      />
    </div>

    <div class="form__section">
      <label for="date">Fecha de la noticia</label>
      <input
        id="date"
        type="date"
        placeholder="Introduce una Fecha"
        [(ngModel)]="newNew.date"
      />
    </div>

    <div class="form__section">
      <label for="tag">Etiqueta de la noticia</label>
      <input
        id="tag"
        type="tag"
        placeholder="Introduce una etiqueta"
        [(ngModel)]="newNew.tag"
      />
    </div>

    <button class="button" (click)="newNews()">Guardar</button>

    <div class="eliminar">
      <h2>
        <label for="">Eliminar noticia</label>
      </h2>
      <select name="" id="delete">
        <option value="" selected>Selecciona una noticia</option>

        @for (option of arrNews; track option.title) {
        <option>
          {{ option.title }}
        </option>
        }
      </select>

      <button (click)="deleteNews()">Eliminar</button>
    </div>
  </div>

  <div>
    <div class="etiqueta">
      <ul class="tags">
        <li (click)="allNews()" class="tagAll">Todos</li>
        @for (option of arrNews; track option.title) {
        <li (click)="tags($event)">
          {{ option.tag }}
        </li>
        }
      </ul>
    </div>
    <div class="blog__news-content" [innerHTML]="loadNews()"></div>
  </div>
</div>

<!--@for (new of arrNews let i = $index) {
  <article>
    <h4>{{new.title}}
}-->
